# Workbook for Project 01: Writing a Data Scientist Blog Post (Udacity Data Science Nanodegree)
## Renting Out Your Room on Airbnb in Zürich

This workbook documents the data science and analysis process to gain insights from Airbnb rentals for Zürich, Switzerland.
The data is provided by [Inside Airbnb](http://insideairbnb.com/get-the-data/), not by the site itself. Do consider making a donation to their efforts.

The process follows CRISP-DM principles.

In [14]:
import pandas as pd
# get root path of git repo
# https://stackoverflow.com/questions/22081209/find-the-root-of-the-git-repository-where-the-file-lives
import git
repo = git.Repo('.', search_parent_directories=True)

'/Users/balthasarsager/git/ds_nanodegree/01-crisp-dm/airbnb-zurich-analysis'

In [17]:
# read data from CSV
path_listings = repo.working_tree_dir + '/data/listings.csv'
listings = pd.read_csv(path_listings)

In [19]:
listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,73282,"Clean, central, quiet",377532,Simona,Kreis 3,Sihlfeld,47.37374,8.51957,Entire home/apt,100,3,49,2019-04-27,0.42,1,56,0,NaN
1,86645,Stadium Letzigrund - by Airhome,475053,James,Kreis 3,Sihlfeld,47.38038,8.50461,Entire home/apt,195,1,50,2021-07-16,0.39,18,0,1,NaN
2,143821,marvelous LOFT in SIHLCITY Zürich,697307,Erhan,Kreis 3,Alt-Wiedikon,47.35724,8.52304,Entire home/apt,200,3,0,NaN,NaN,1,362,0,NaN
3,178448,"a lovely place, top location",854016,Delphine,Kreis 2,Enge,47.36565,8.52753,Private room,60,5,9,2016-05-10,0.07,1,58,0,NaN
4,204586,very nice luxury city apartment,1004816,Aicha,Kreis 10,Höngg,47.40656,8.48465,Private room,200,3,0,NaN,NaN,1,364,0,NaN

In [34]:
### Data Completeness
# check if all columns are present
(
pd.DataFrame(
    listings
    .isnull()
    .mean()
    .reset_index()
)
    .rename(columns={'index': 'column', 0: 'missing'})
    .sort_values('missing', ascending=False)
)

                            column   missing
17                         license  1.000000
13               reviews_per_month  0.201613
12                     last_review  0.201613
1                             name  0.000538
16           number_of_reviews_ltm  0.000000
15                availability_365  0.000000
14  calculated_host_listings_count  0.000000
11               number_of_reviews  0.000000
10                  minimum_nights  0.000000
0                               id  0.000000
8                        room_type  0.000000
7                        longitude  0.000000
6                         latitude  0.000000
5                    neighbourhood  0.000000
4              neighbourhood_group  0.000000
3                        host_name  0.000000
2                          host_id  0.000000
9                            price  0.000000